# Flatiron School Mod_7 project - ELT Notebook

In [66]:
import pandas as pd
import numpy as np

## Import pagespeed result CSVs

In [67]:
df_0_11092 = pd.read_csv("pagespeed_csvs/pagespeed_results_0_11092.csv")
df_11093_22367 = pd.read_csv("pagespeed_csvs/pagespeed_results_11093_22367.csv")
df_22368_33541 = pd.read_csv("pagespeed_csvs/pagespeed_results_22368_33541.csv")
df_33541_38867 = pd.read_csv("pagespeed_csvs/pagespeed_results_33541_38867.csv")
df_38868_50127 = pd.read_csv("pagespeed_csvs/pagespeed_results_38868_50127.csv")
df_61634_72964 = pd.read_csv("pagespeed_csvs/pagespeed_results_61364_72964.csv")
df_72965_84057 = pd.read_csv("pagespeed_csvs/pagespeed_results_72965_84057.csv")
df_84058_88113 = pd.read_csv("pagespeed_csvs/pagespeed_results_84058_88113.csv")

#TODO: make this a loop

### Merge pagespeed data dataframes

In [68]:
pagespeed_df = pd.concat([df_0_11092, 
                          df_11093_22367, 
                          df_22368_33541, 
                          df_33541_38867, 
                          df_38868_50127, 
                          df_61634_72964, 
                          df_72965_84057, 
                          df_84058_88113])

#TODO: make this a loop

### Reset index & drop duplicated index

In [69]:
pagespeed_df.reset_index(inplace = True)
pagespeed_df.drop(labels = "index", inplace = True, axis = 1)

### Drop duplicate rows

In [70]:
pagespeed_df.drop_duplicates(subset = 'URL',keep='first', inplace=True)

### Drop columns with null values

In [71]:
pagespeed_df.dropna(inplace=True)

### Set index to the URL for joining

In [72]:
pagespeed_df.set_index("URL")

,FCP,FI,TTFB,DOM,BUT,FMP,SI,TBT,NR,TBW
URL,,,,,,,,,,
https://www.instagram.com/accounts/login/,775,1450,124.753,144,239.49,1311.5,934.905831,52.0,26.0,814403.0
https://www.messenger.com/login.php,677,1533,176.564,59,232.938,677,677.000000,36.5,27.0,944428.0
https://about.fb.com/news/,731,2076,174.714,901,419.597,829,1246.245973,130.0,33.0,1206580.0
https://play.google.com/store/apps/details,660,1711,312.229,1322,466.24,809,864.487791,33.0,66.0,1277580.0
https://github.com/facebook,620,1131,354.336,1792,195.279,620,833.933502,10.0,39.0,573214.0
...,...,...,...,...,...,...,...,...,...,...
https://www.geeksaresexy.net/,868,6876,174.488,1069,2230.38,868,3163.432652,366.0,334.0,3403877.0
https://www.foxnews.com/entertainment/nikki-bella-baby-bump-21-weeks-nude-selfie,1265,12032,270.936,1382,6018.89,1265,4590.092851,634.5,694.0,7331964.0
http://www.torontowaterfrontmarathon.com/,1345,5682,160.479,1739,1163.59,1855,3498.570123,226.0,106.0,6829853.0
"https://www.glassdoor.com/Overview/Working-at-Trade-Me-EI_IE438858.11,19.htm",795,7985.5,473.524,2272,7496.96,815,3299.023174,4906.0,225.0,3320723.0
https://www.amazon.com/Trade-Me-Cyclone-Book-1-ebook/dp/B00SHVR1CY,700,6058,1545.497,4199,3036.58,717,3544.387166,552.5,240.0,4914028.0

### Correct datatypes

In [73]:
for index in range(1,10):
    pagespeed_df.iloc[:,index] = pagespeed_df.iloc[:,index].astype(np.float64)

### Make Column names more useful

In [74]:
pagespeed_df.columns = (['address',
                         'first_contentful_paint',
                         'time_to_interactive',
                         'time_to_first_byte',
                         'dom_size',
                         'boot_up_time',
                         'first_meaningful_paint',
                         'speed_index',
                         'total_blocking_time',
                         'network_requests',
                         'total_byte_weight'])

### Check units are correct for the dataset

* **Address** - URL of the page that the page speed data is about - unit: n/a
* **First Contentful Paint** - First contentful paint marks the time at which the first text or image is painted. [Learn more](https://web.dev/first-contentful-paint). - unit: **ms**
* **Time to Interactive** - First contentful paint marks the time at which the first text or image is painted. [Learn more](https://web.dev/first-contentful-paint). - unit: **ms**
* **Time to First Byte** - Time to first byte identifies the time at which your server sends a response. [Learn more](https://web.dev/time-to-first-byte). - unit: **ms**
* **DOM Size** - Browser engineers recommend pages contain fewer than ~1,500 DOM elements. The sweet spot is a tree depth \u003c 32 elements and fewer than 60 children/parent element. A large DOM can increase memory usage, cause longer [style calculations](https://developers.google.com/web/fundamentals/performance/rendering/reduce-the-scope-and-complexity-of-style-calculations) and produce costly [layout reflows](https://developers.google.com/speed/articles/reflow). [Learn more](https://web.dev/dom-size). - unit: **no. of elements**
* **Boot Up Time** - Consider reducing the time spent parsing, compiling and executing JS. You may find delivering smaller JS payloads helps with this. [Learn more](https://web.dev/bootup-time). - units **ms**
* **First Meaningful Paint** - First meaningful paint measures when the primary content of a page is visible. [Learn more](https://web.dev/first-meaningful-paint). - units **ms**
* **Speed Index** - Speed Index shows how quickly the contents of a page are visibly populated. [Learn more](https://web.dev/speed-index). - units **ms**
* **Total Blocking Time** - sum of all time periods between FCP and Time to Interactive, when task length exceeded 50ms, expressed in milliseconds. - units **ms**
* **Network Requests** - Lists the network requests that were made during page load. - units **no. of requests**
* **Total Byte Weight** - Large network payloads cost users real money and are highly correlated with long load times. [Learn more](https://web.dev/total-byte-weight). - units **bytes**

### Final Pagespeed Dataframe

In [75]:
pagespeed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61192 entries, 0 to 126162
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   address                 61192 non-null  object
 1   first_contentful_paint  61192 non-null  float64
 2   time_to_interactive     61192 non-null  float64
 3   time_to_first_byte      61192 non-null  float64
 4   dom_size                61192 non-null  float64
 5   boot_up_time            61192 non-null  float64
 6   first_meaningful_paint  61192 non-null  float64
 7   speed_index             61192 non-null  float64
 8   total_blocking_time     61192 non-null  float64
 9   network_requests        61192 non-null  float64
 10  total_byte_weight       61192 non-null  float64
dtypes: float64(10), object(1)
memory usage: 5.6+ MB

In [76]:
pagespeed_df

,address,first_contentful_paint,time_to_interactive,time_to_first_byte,dom_size,boot_up_time,first_meaningful_paint,speed_index,total_blocking_time,network_requests,total_byte_weight
0,https://www.instagram.com/accounts/login/,775.0,1450.0,124.753,144.0,239.490,1311.5,934.905831,52.0,26.0,814403.0
1,https://www.messenger.com/login.php,677.0,1533.0,176.564,59.0,232.938,677.0,677.000000,36.5,27.0,944428.0
2,https://about.fb.com/news/,731.0,2076.0,174.714,901.0,419.597,829.0,1246.245973,130.0,33.0,1206580.0
3,https://play.google.com/store/apps/details,660.0,1711.0,312.229,1322.0,466.240,809.0,864.487791,33.0,66.0,1277580.0
4,https://github.com/facebook,620.0,1131.0,354.336,1792.0,195.279,620.0,833.933502,10.0,39.0,573214.0
...,...,...,...,...,...,...,...,...,...,...,...
126146,https://www.geeksaresexy.net/,868.0,6876.0,174.488,1069.0,2230.377,868.0,3163.432652,366.0,334.0,3403877.0
126157,https://www.foxnews.com/entertainment/nikki-be...,1265.0,12032.0,270.936,1382.0,6018.891,1265.0,4590.092851,634.5,694.0,7331964.0
126158,http://www.torontowaterfrontmarathon.com/,1345.0,5682.0,160.479,1739.0,1163.594,1855.0,3498.570123,226.0,106.0,6829853.0
126161,https://www.glassdoor.com/Overview/Working-at-...,795.0,7985.5,473.524,2272.0,7496.961,815.0,3299.023174,4906.0,225.0,3320723.0
126162,https://www.amazon.com/Trade-Me-Cyclone-Book-1...,700.0,6058.0,1545.497,4199.0,3036.581,717.0,3544.387166,552.5,240.0,4914028.0

## Import Ranking data csv

In [77]:
serp_df = pd.read_csv("serp_results_csvs/serp_results.csv")

### Drop irrelevant columns

In [78]:
serp_df.drop(columns="Unnamed: 0", inplace=True)

### Rename columns to something more meaningful for the merge

In [79]:
serp_df.columns = (['keyword',
                    'position',
                    'address'])

### Merge Datasets

In [81]:
final_df = pagespeed_df.merge(serp_df,on="address")

### Final Merged Dataframe

In [82]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63616 entries, 0 to 63615
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   address                 63616 non-null  object
 1   first_contentful_paint  63616 non-null  float64
 2   time_to_interactive     63616 non-null  float64
 3   time_to_first_byte      63616 non-null  float64
 4   dom_size                63616 non-null  float64
 5   boot_up_time            63616 non-null  float64
 6   first_meaningful_paint  63616 non-null  float64
 7   speed_index             63616 non-null  float64
 8   total_blocking_time     63616 non-null  float64
 9   network_requests        63616 non-null  float64
 10  total_byte_weight       63616 non-null  float64
 11  keyword                 63616 non-null  object
 12  position                63616 non-null  int64
dtypes: float64(10), int64(1), object(2)
memory usage: 6.8+ MB

In [83]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63616 entries, 0 to 63615
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   address                 63616 non-null  object
 1   first_contentful_paint  63616 non-null  float64
 2   time_to_interactive     63616 non-null  float64
 3   time_to_first_byte      63616 non-null  float64
 4   dom_size                63616 non-null  float64
 5   boot_up_time            63616 non-null  float64
 6   first_meaningful_paint  63616 non-null  float64
 7   speed_index             63616 non-null  float64
 8   total_blocking_time     63616 non-null  float64
 9   network_requests        63616 non-null  float64
 10  total_byte_weight       63616 non-null  float64
 11  keyword                 63616 non-null  object
 12  position                63616 non-null  int64
dtypes: float64(10), int64(1), object(2)
memory usage: 6.8+ MB

In [84]:
final_df

,address,first_contentful_paint,time_to_interactive,time_to_first_byte,dom_size,boot_up_time,first_meaningful_paint,speed_index,total_blocking_time,network_requests,total_byte_weight,keyword,position
0,https://www.instagram.com/accounts/login/,775.0,1450.0,124.753,144.0,239.490,1311.5,934.905831,52.0,26.0,814403.0,facebook login,23
1,https://www.instagram.com/accounts/login/,775.0,1450.0,124.753,144.0,239.490,1311.5,934.905831,52.0,26.0,814403.0,instagram,2
2,https://www.messenger.com/login.php,677.0,1533.0,176.564,59.0,232.938,677.0,677.000000,36.5,27.0,944428.0,facebook,13
3,https://www.messenger.com/login.php,677.0,1533.0,176.564,59.0,232.938,677.0,677.000000,36.5,27.0,944428.0,facebook login,26
4,https://www.messenger.com/login.php,677.0,1533.0,176.564,59.0,232.938,677.0,677.000000,36.5,27.0,944428.0,mfacebook,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63611,https://www.geeksaresexy.net/,868.0,6876.0,174.488,1069.0,2230.377,868.0,3163.432652,366.0,334.0,3403877.0,sexy,21
63612,https://www.foxnews.com/entertainment/nikki-be...,1265.0,12032.0,270.936,1382.0,6018.891,1265.0,4590.092851,634.5,694.0,7331964.0,nude,20
63613,http://www.torontowaterfrontmarathon.com/,1345.0,5682.0,160.479,1739.0,1163.594,1855.0,3498.570123,226.0,106.0,6829853.0,scotiabank,23
63614,https://www.glassdoor.com/Overview/Working-at-...,795.0,7985.5,473.524,2272.0,7496.961,815.0,3299.023174,4906.0,225.0,3320723.0,trade me,29
63615,https://www.amazon.com/Trade-Me-Cyclone-Book-1...,700.0,6058.0,1545.497,4199.0,3036.581,717.0,3544.387166,552.5,240.0,4914028.0,trade me,23

## Summary

Things to watch:

* Potentially a high degree of multi colinearity between pagespeed metrics which will be challening for training a regressor
* There are duplicate pages in this dataset as it is possible for the same page to rank for different keywords, so will need to dedupe before training 
* A lot of the data is on different scales so will need to be transformed

# EDA